@model MovieViewModel
<div id="add-form" class="panel panel-default view-area">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h2>Přidat film</h2>
        <div class="row">
            <div class="form-area">
                <div class="row">
                    <span class="col-md-2 control-label">@Html.LabelFor(x => x.Title)</span>
                    @Html.EditorFor(x => x.Title)
                    @Html.ValidationMessageFor(x => x.Title)
                </div>
                <div class="row">
                    <span class="col-md-2 control-label">@Html.LabelFor(x => x.OriginalTitle)</span>
                    @Html.EditorFor(x => x.OriginalTitle)
                    @Html.ValidationMessageFor(x => x.OriginalTitle)
                </div>
                <div class="row">
                    <div class="overhead">
                        <span class="col-md-2 control-label">@Html.LabelFor(x => x.OverheadPeople)</span>
                        <select class="overheadP">
                            <option value="0">Vyberte osobu</option>
                            @foreach (Person p in Model.People)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        </select>
                    </div>
                    <a onclick="addPerson('overhead')">+Přidat</a>
                </div>
                <div class="row">
                    <div class="model">
                        <span class="col-md-2 control-label">@Html.LabelFor(x => x.ModelPeople)</span>
                        <select class="modelP">
                            <option value="0">Vyberte osobu</option>
                            @foreach (Person p in Model.People)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        </select>
                    </div>
                    <a onclick="addPerson('model')">+Přidat</a>
                </div>
                <div class="row">
                    <span class="col-md-2 control-label">@Html.LabelFor(x => x.ScreenplayPeople)</span>
                    <div class="screenplay">
                        <select class="screenplayP">
                            <option value="0">Vyberte osobu</option>
                            @foreach (Person p in Model.People)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        </select>
                    </div>
                    <a onclick="addPerson('screenplay')">+Přidat</a>
                </div>
                <div class="row">
                    <span class="col-md-2 control-label">@Html.LabelFor(x => x.CameraPeople)</span>
                    <div class="camera">
                        <select class="cameraP">
                            <option value="0">Vyberte osobu</option>
                            @foreach (Person p in Model.People)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        </select>
                    </div>
                    <a onclick="addPerson('camera')">+Přidat</a>
                </div>
                <div class="row">
                    <span class="col-md-2 control-label">@Html.LabelFor(x => x.SoundPeople)</span>
                    <div class="sound">
                        <select class="soundP">
                            <option value="0">Vyberte osobu</option>
                            @foreach (Person p in Model.People)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        </select>
                    </div>
                    <a onclick="addPerson('sound')">+Přidat</a>
                </div>
                <div class="row">
                    <span class="col-md-2 control-label">@Html.LabelFor(x => x.Actors)</span>
                    <div class="actors">
                        <select class="actorsP">
                            <option value="0">Vyberte osobu</option>
                            @foreach (Person p in Model.People)
                            {
                                <option value="@p.Id">@p.Name</option>
                            }
                        </select>
                    </div>
                    <a onclick="addPerson('actors')">+Přidat</a>
                </div>
                <div class="row">
                    <span class="col-md-2 control-label">@Html.LabelFor(x => x.Description)</span>
                    @Html.EditorFor(x => x.Description)
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
                <div class="row">
                    <span class="col-md-2 control-label">@Html.LabelFor(x => x.Genre)</span>
                    @Html.DropDownList("Genre", new SelectList(Model.Genres, "Id", "Content"))
                    @Html.ValidationMessageFor(x => x.Genre)
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-info" onclick="addMovie()">Přidat</button>
        </div>
    </div>
</div>

<script>

    function addMovie() {
        var overhead = [];
        $(".overheadP").each(function () {
            if ($(this).val() != 0) {
                overhead.push($(this).val());
            }
        });
        var models = [];
        $(".modelP").each(function () {
            if ($(this).val() != 0) {
                models.push($(this).val());
            }
        });
        var screenplay = [];
        $(".screenplayP").each(function () {
            if ($(this).val() != 0) {
                screenplay.push($(this).val());
            }
        });
        var camera = [];
        $(".cameraP").each(function () {
            if ($(this).val() != 0) {
                camera.push($(this).val());
            }
        });
        var sound = [];
        $(".soundP").each(function () {
            if ($(this).val() != 0) {
                sound.push($(this).val());
            }
        });
        var actors = [];
        $(".actorsP").each(function () {
            if ($(this).val() != 0) {
                actors.push($(this).val());
            }
        });
                   
        var model = {
            title: $("#Title").val(),
            originalTitle: $("#OriginalTitle").val(),
            description: $("#Description").val(),
            genre: $("#Genre").val(),
            overheadPeople: overhead,
            modelPeople: models,
            screenplayPeople: screenplay,
            cameraPeople: camera,
            soundPeople: sound,
            actors: actors,
        };
        $.post("/Movies/_Add", model);
    }

    function addPerson(cls) {
        $("."+ cls + "P:last").clone().appendTo("." + cls);
    }

</script>